.button {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    margin: 0;
    width: auto;
    font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}

.button.fullbutton {
    width: 100%;
}

.button.fullbutton span {
    float: right;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
}

/** Colours **/

.button {
    background: none;
    border: 2px solid #2c6cfb;
    color: #2c6cfb !important;
}

.button:hover {
    background: #2c6cfb;
    color: #FFF !important;
}

.button:active {
    top: 2px;
}


